doctype html
html
    head
        block meta
            meta( charset="utf-8" )
            meta( http-equiv="Content-Type", content="text/html; charset=utf-8" )
            meta( name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" )

        block style
            style
                include ../css/default.css

        block config
            include ../pug/config

        include ./pi
        include ./compress

        block scripts
            <!-- htmlmin:ignore -->
            if resources
                for resource in resources
                    if resource && resource.content
                        script !{ resource.content }
                    else if resource
                        script( src=resource defer )
            <!-- htmlmin:ignore -->

        <!-- htmlmin:ignore -->
    <!-- htmlmin:ignore -->

    body
        block preloader
            include ../pug/preloader

        block resources
            for image in images
                img( id=image.id src=image.data style="display: none;" crossorigin="" )

            for video in videos
                video( id=video.id src=video.data style="display: none;" preload="auto" autoload="" muted="" playsinline="" crossorigin="" )

        canvas#application-canvas

        script.
            function startGame() {
                return new Promise( function ( resolve, reject ) {
                    pc.TextGenerator.fontRatio = 2.0;

                    window.app = new LunaUnity.Application(
                        document.getElementById( "application-canvas" ),
                        window.$environment,
                        new LunaUnity.Application.StartupScene( "-1", "#{startup_scene}" )
                    );

                    window.app.StartWithJSCallback( function() {
                        var preloader = document.getElementById( "application-preloader" );

                        if ( preloader != null ) {
                            preloader.parentNode.removeChild( preloader );
                        }

                        resolve();
                    } );
                } );
            }

            window.DEBUG = document.location.search.includes( 'debug' );

        block shared
            include ../pug/content/shared

        block volume
            script.
                ( function () {
                    var _mute = false;

                    var audioVolumeToggle = function ( mute ) {
                        if ( mute !== _mute ) {
                            _mute = mute;

                            if ( mute ) {
                                Luna.Unity.LifeCycle.OnMute();
                                window.app.app.muteAudio();
                            } else {
                                Luna.Unity.LifeCycle.OnUnmute();
                                window.app.app.unmuteAudio();
                            }

                            if ( window.app && window.app.AudioManager ) {
                                window.app.AudioManager.TriggerMasterVolumeChange( _mute ? 0 : 1 );
                            }
                        }
                    };

                    window.addEventListener( "luna:unmute", function() {
                        audioVolumeToggle( false );
                    } );

                    window.addEventListener( "luna:mute", function() {
                        audioVolumeToggle( true );
                    } );

                    window.addEventListener( 'luna:pause', function () {
                        if ( window.app && window.app.app ) {
                            Luna.Unity.LifeCycle.OnPause();
                            window.app.app.pause();
                        }
                    } );

                    window.addEventListener( 'luna:resume', function () {
                        if ( window.app && window.app.app ) {
                            Luna.Unity.LifeCycle.OnResume();
                            window.app.app.resume();
                        }
                    } );
                } )();

        block content
            script.
                window.addEventListener( 'luna:build', function() {
                    window.pi.logLoaded();
                    window.dispatchEvent( new Event( 'luna:start' ) );
                } );

        block runtime

    <!-- htmlmin:ignore -->
<!-- htmlmin:ignore -->
